@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode - Radix UI colors */
  --gray-1: hsl(0, 0%, 99.0%);
  --gray-2: hsl(0, 0%, 97.3%);
  --gray-3: hsl(0, 0%, 95.1%);
  --gray-4: hsl(0, 0%, 93.0%);
  --gray-5: hsl(0, 0%, 90.9%);
  --gray-6: hsl(0, 0%, 88.7%);
  --gray-7: hsl(0, 0%, 85.8%);
  --gray-8: hsl(0, 0%, 78.0%);
  --gray-9: hsl(0, 0%, 56.1%);
  --gray-10: hsl(0, 0%, 52.3%);
  --gray-11: hsl(0, 0%, 43.5%);
  --gray-12: hsl(0, 0%, 9.0%);
  
  --blue-1: hsl(206, 100%, 99.2%);
  --blue-2: hsl(210, 100%, 98.0%);
  --blue-3: hsl(209, 100%, 96.5%);
  --blue-4: hsl(210, 98.8%, 94.5%);
  --blue-5: hsl(209, 95.0%, 90.1%);
  --blue-6: hsl(209, 81.2%, 84.5%);
  --blue-7: hsl(208, 77.5%, 76.9%);
  --blue-8: hsl(206, 81.9%, 65.3%);
  --blue-9: hsl(206, 100%, 50.0%);
  --blue-10: hsl(208, 100%, 47.3%);
  --blue-11: hsl(211, 100%, 43.2%);
  --blue-12: hsl(211, 100%, 15.0%);
  
  --red-1: hsl(359, 100%, 99.4%);
  --red-2: hsl(359, 100%, 98.6%);
  --red-3: hsl(360, 100%, 96.8%);
  --red-4: hsl(360, 97.9%, 94.8%);
  --red-5: hsl(360, 90.2%, 91.9%);
  --red-6: hsl(360, 81.7%, 87.8%);
  --red-7: hsl(359, 69.5%, 81.7%);
  --red-8: hsl(358, 75.0%, 69.1%);
  --red-9: hsl(358, 75.0%, 59.0%);
  --red-10: hsl(358, 69.4%, 55.2%);
  --red-11: hsl(358, 65.0%, 48.7%);
  --red-12: hsl(354, 50.0%, 14.6%);
  
  --green-1: hsl(136, 50.0%, 98.9%);
  --green-2: hsl(138, 62.5%, 96.9%);
  --green-3: hsl(139, 55.2%, 94.5%);
  --green-4: hsl(140, 48.7%, 91.0%);
  --green-5: hsl(141, 43.7%, 86.0%);
  --green-6: hsl(143, 40.3%, 79.0%);
  --green-7: hsl(146, 38.5%, 69.0%);
  --green-8: hsl(151, 40.2%, 54.1%);
  --green-9: hsl(151, 55.0%, 41.5%);
  --green-10: hsl(152, 57.5%, 37.6%);
  --green-11: hsl(153, 67.0%, 28.5%);
  --green-12: hsl(155, 40.0%, 14.0%);
  
  --indigo-1: hsl(225, 60.0%, 99.4%);
  --indigo-2: hsl(223, 100%, 98.6%);
  --indigo-3: hsl(223, 98.4%, 97.1%);
  --indigo-4: hsl(223, 92.9%, 95.0%);
  --indigo-5: hsl(224, 87.1%, 92.0%);
  --indigo-6: hsl(224, 81.9%, 87.8%);
  --indigo-7: hsl(225, 77.4%, 82.1%);
  --indigo-8: hsl(226, 75.5%, 72.2%);
  --indigo-9: hsl(226, 70.0%, 55.5%);
  --indigo-10: hsl(226, 58.6%, 51.3%);
  --indigo-11: hsl(226, 55.0%, 45.0%);
  --indigo-12: hsl(226, 62.0%, 17.0%);
}

.dark {
  /* Dark mode - Radix UI colors */
  --gray-1: hsl(0, 0%, 8.5%);
  --gray-2: hsl(0, 0%, 11.0%);
  --gray-3: hsl(0, 0%, 13.6%);
  --gray-4: hsl(0, 0%, 15.8%);
  --gray-5: hsl(0, 0%, 17.9%);
  --gray-6: hsl(0, 0%, 20.5%);
  --gray-7: hsl(0, 0%, 24.3%);
  --gray-8: hsl(0, 0%, 31.2%);
  --gray-9: hsl(0, 0%, 43.9%);
  --gray-10: hsl(0, 0%, 49.4%);
  --gray-11: hsl(0, 0%, 62.8%);
  --gray-12: hsl(0, 0%, 93.0%);
  
  --blue-1: hsl(212, 35.0%, 9.2%);
  --blue-2: hsl(216, 50.0%, 11.8%);
  --blue-3: hsl(214, 59.4%, 15.3%);
  --blue-4: hsl(214, 65.8%, 17.9%);
  --blue-5: hsl(213, 71.2%, 20.2%);
  --blue-6: hsl(212, 77.4%, 23.1%);
  --blue-7: hsl(211, 85.1%, 27.4%);
  --blue-8: hsl(211, 89.7%, 34.1%);
  --blue-9: hsl(206, 100%, 50.0%);
  --blue-10: hsl(212, 100%, 66.1%);
  --blue-11: hsl(210, 100%, 66.0%);
  --blue-12: hsl(206, 98.0%, 95.8%);
  
  --red-1: hsl(353, 23.0%, 9.8%);
  --red-2: hsl(357, 34.4%, 12.0%);
  --red-3: hsl(356, 43.4%, 16.4%);
  --red-4: hsl(356, 47.6%, 19.2%);
  --red-5: hsl(356, 51.1%, 21.9%);
  --red-6: hsl(356, 55.2%, 25.9%);
  --red-7: hsl(357, 60.2%, 31.8%);
  --red-8: hsl(358, 65.0%, 40.4%);
  --red-9: hsl(358, 75.0%, 59.0%);
  --red-10: hsl(358, 85.3%, 64.0%);
  --red-11: hsl(358, 100%, 69.5%);
  --red-12: hsl(351, 89.0%, 96.0%);
  
  --green-1: hsl(146, 30.0%, 7.4%);
  --green-2: hsl(155, 44.2%, 8.4%);
  --green-3: hsl(155, 46.7%, 10.9%);
  --green-4: hsl(154, 48.4%, 12.9%);
  --green-5: hsl(154, 49.7%, 14.9%);
  --green-6: hsl(154, 50.9%, 17.6%);
  --green-7: hsl(153, 51.8%, 21.8%);
  --green-8: hsl(151, 51.7%, 28.4%);
  --green-9: hsl(151, 55.0%, 41.5%);
  --green-10: hsl(151, 49.3%, 46.5%);
  --green-11: hsl(151, 50.0%, 53.2%);
  --green-12: hsl(137, 72.0%, 94.0%);
  
  --indigo-1: hsl(229, 24.0%, 10.0%);
  --indigo-2: hsl(230, 36.4%, 12.9%);
  --indigo-3: hsl(228, 43.3%, 17.5%);
  --indigo-4: hsl(227, 47.2%, 21.0%);
  --indigo-5: hsl(227, 50.0%, 24.1%);
  --indigo-6: hsl(226, 52.9%, 28.2%);
  --indigo-7: hsl(226, 56.0%, 34.5%);
  --indigo-8: hsl(226, 58.2%, 44.1%);
  --indigo-9: hsl(226, 70.0%, 55.5%);
  --indigo-10: hsl(227, 75.2%, 61.6%);
  --indigo-11: hsl(228, 100%, 75.9%);
  --indigo-12: hsl(226, 83.0%, 96.9%);
}

@layer base {
  body {
    @apply m-0 p-0;
    @apply text-gray-12;
    @apply bg-gray-2;
  }

  * {
    @apply box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0;
    font-weight: inherit;
    font-style: inherit;
  }

  a {
    @apply cursor-pointer;
    all: unset;
  }

  ul {
    @apply p-0;
  }

  button {
    @apply cursor-pointer;
    all: unset;
  }

  input {
    @apply box-border;
    all: unset;
  }

  textarea {
    @apply border-none bg-transparent p-0 outline-none resize-none;
    font-family: inherit;
    color: inherit;
  }

  hr {
    @apply w-full border-0 m-0;
    border-top: 1px solid var(--gray-6);
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

